<header>
  <div class="wrapper-header">

  <a routerLink="/" class="logo">
    <span class="wrapper-logo">Film C<span class="wrapper-img"><img src="/assets/icons/favi.png" alt="logo"/></span>llection</span>
  </a>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    <a routerLink="/favorites" routerLinkActive="active">favorites</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
  </nav>

  </div>

  <app-breadcrumbs></app-breadcrumbs>

</header>
